# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/


#System Files
.DS_Store
Thumbs.db
backend/suaveio/obj
backend/suaveio/bin
suaveio/src/RealWorld/obj
suaveio/src/RealWorld/bin
suaveio/bin
suaveio/obj
suaveio/tests/obj
suaveio/tests/bin
suaveio/tests/packages
suaveio_dotnetcore2/packages
suaveio_dotnetcore2/obj
suaveio_dotnetcore2/bin
suaveio_dotnetcore2/tests/bin
suaveio_dotnetcore2/tests/obj
.vscode

suaveio/packages/
tests/packages
tests/bin
test/obj
tests/obj
aspnetmvc/obj
suaveio_dotnetcore2.sln
suaveio_dotnetcore2.userprefs
